.game_over_container_wrap {
  flex-flow: wrap;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game_over_container {
  flex-flow: wrap;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap_for_game_over_icon_container {
  display: flex;
  margin: 20px;
  width: 450px;
  height: 450px;
}

.game_over_icon_container {
  flex:1;
  background-image: url('../../../assets/images/game_over_m.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.game_over_cat_icon_container {
  flex:1;
  background-image: url('../../../assets/images/game_over_cat.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wrap_for_game_over_button {
  display: flex;
  flex-direction: column;
}

.game_over_button_start {
  color: var(--text-color-white);
  font-size: 39px;
  line-height: 1.2;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0 50px;
  width: 100%;
  height: 50px;
  background: var(--button-bg-blue);
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 0 8px var(--text-color-major);
}

.game_over_button_exit {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
  padding-top: 20px;
}
