@import "src/assets/styles/colors";
@import "src/assets/styles/variables";

$breakpoint: 480px;
$border: 2px solid $primary;

.breadcrumbs {
    padding: 10px;
}
.comment {
    padding: 20px 0;
    &__date {
        padding: 10px;
        border-bottom: $border;
    }
}

.comment-body {
    display: flex;
    &__user {
        min-width: 150px;
        border-bottom: $border;
        padding: 10px;
    }
    &__message {
        padding: 10px;
        border-bottom: $border;
    }
}
