.start-container-wrap {
  flex-flow: wrap;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-container {
  flex-flow: wrap;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap-for-start-icon-container {
  display: flex;
  margin: 20px;
  width: 450px;
  height: 450px;
}

.start-icon-container {
  flex:1;
  background-image: url('../../../assets/images/start.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wrap-for-start-button {
  display: flex;
  flex-direction: column;
}

.start-button-play {
  font-size: 39px;
  line-height: 1.2;
  padding: 0 50px;
  height: 50px;
  box-shadow: 0 0 8px var(--text-color-major);
}

.start-button-exit {
  font-size: 20px;
  padding-top: 20px;
}
