.input {
    background-color: transparent;
    &:focus {
        outline: none;
    }
    &__error{
        position: absolute;
        font-size: 0.7rem;
        color:var(--color-danger);
        bottom: 2px;
        left:5px;
    }
    &__wrapper{
        position:relative;
    }
}