@import "src/assets/styles/variables";

.button {
    background: none;
    border: none;
    padding: 10px 20px;
    color: $color-bg-white;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 25px;

    &.primary {
        background: $color-bg-blue;
    }

    &.secondary {
        background: $color-bg-orange;
    }

    &.tertiary {
        background-color: transparent;
    }

    &:disabled {
        opacity: 0.7;
    }

    &.back {
        background-image: url('../../../../assets/images/back_grey.svg');
        background-size: contain;
        background-repeat: no-repeat;
        padding: 5px 7px 5px 35px;
    }

}
